<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
  </div>
    <div class="modal-body">
      <div class="form-group" *ngIf="isEditModal">
        <label>Group Id</label>
        <input type="text" class="form-control" [value]="currentGroup.groupid" readonly/>
      </div>
        <form [formGroup]="groupForm" (ngSubmit)="submit($event)">
            <div class="form-group" formGroupName="transformcase">
                <label>Transform Case</label>
                <select class="form-control" formControlName="transformcase">
                  <option value="none" selected>None</option>
                  <option value="upper">Upper</option>
                  <option value="lower">Lower</option>
                  <option value="camel">Camel</option>
                </select>
            </div>

            <div class="form-group" formGroupName="transformdateformat">
              <label>Transform Date Format</label>
              <select class="form-control" formControlName="transformdateformat">
                <option value="none" selected>None</option>
                <option value="ddmmyyyy">DDMMYYYY</option>
                <option value="mmddyyyy">MMDDYYYY</option>
                <option value="yyyymmdd">YYYYMMDD</option>
                <option value="ddmonyyyy">DDMONYYY</option>
              </select>
            </div>

            <div class="form-group" formGroupName="transformnumberformat">
                <label>Transform Number Format</label>
                <select class="form-control" formControlName="transformnumberformat">
                  <option value="none" selected>None</option>
                  <option value="x.y">X.Y</option>
                </select>
            </div>

            <div class="form-group" formGroupName="concatwithdelimiter">
                <label>Concat With Delimiter</label>
                <input class="form-control" formControlName="concatwithdelimiter">
            </div>

            <div class="form-group" formGroupName="padafterconcat">
                <label>Pad After Concat</label>
                <select class="form-control" formControlName="padafterconcat">
            <option value="none" selected>None</option>
            <option value="leftpadchar">Left pad char</option>
            <option value="rightpadchar">Right pad char</option>
            <option value="padtolength">Pad to  length</option>
            </select>
            </div>

            <div class="form-group" formGroupName="padbeforeconcat">
                <label>Pad Before Concat</label>
                <select class="form-control" formControlName="padbeforeconcat">
              <option value="none" selected>None</option>
              <option value="leftpadchar">Left pad char</option>
              <option value="rightpadchar">Right pad char</option>
              <option value="padtolength">Pad to  length</option>
            </select>
            </div>

            <div class="form-group" formGroupName="truncateleadingdelimiter">
                <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="checkbox" class="custom-control-input" id="truncateleadingdelimiter" value = "true" formControlName="truncateleadingdelimiter">
                  <span>Truncate Leading Delimiter</span>
                  <span class="custom-control-indicator"></span>
                </label>
                </div>
            </div>

            <div class="form-group" formGroupName="truncatelaggingdelimiter">
                <div>
                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                  <input type="checkbox" class="custom-control-input" id="truncatelaggingdelimiter" value="true" formControlName="truncatelaggingdelimiter">
                  <span>Truncate Lagging Delimiter</span>
                  <span class="custom-control-indicator"></span>
                </label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="margin-top w-100">
                  <span class="text-primary pull-left" *ngIf="submitAlert">Form Submitted Successfully!</span>
                  <button [disabled]="loading" class="btn btn-primary pull-right" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{btnText}}
                  </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
