<div class="col-md-12">
  <div *ngIf="currGroupData && currGroupData.annotations.length" class="row m-b-10 pv-inner-shadow-box">
      <div class="col-md-12">
          <ul class="list-group">
              <li *ngFor="let i = index; let annotation of currGroupData.annotations" class="list-group-item row">
                <div *ngIf="annotation.annotation.startpage == currPageNumber">
                  <div class="row" [ngClass]="{'annotationListSelected':annotation.annotation.annotid === annotationId}">
                    <div class="col-sm-6 pl-0">
                      <a class="annotation" (click)=getDataString(annotation.annotation)>{{annotation.annotation.datastring.name || "AnnotId_"+annotation.annotation.annotid}}</a>
                    </div>
                      <div class="col-sm-3" *ngIf="annotation.annotation.annotationtype != 'virtual'">
                        <a class="pv-ic-cta text-danger mr-2" (click)="deleteitem(annotation)"><i class="fa fa-trash delete"></i></a>
                        <a class="pv-ic-cta" (click)="toggleMatrixType(annotation)" [ngClass]="(annotation.annotation.annotationmatrix) ?'text-primary':''"><i class="md md-alpha-m-box"></i></a>
                      </div>
                      <div class="col-sm-3 pr-0" *ngIf="annotation.annotation.annotationtype !='virtual'">
                        <app-pvgfp-group-list [isAnnotationGroup]="true" [currGroupId]="groupId" class="group" (change)="changeAnnotationGroup($event, annotation)"></app-pvgfp-group-list>
                      </div>
                  </div>
                </div>
              </li>
          </ul>
      </div>
    </div>
    <button *ngIf="markBtn" class="btn btn-blue" (click)="startMarking()">{{btnName}} Marking</button>
</div>
