<div class="card">
    <div class="card-body">
        <div class="pv-inner-shadow-box pv-caselist">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped pv-list-table dataTable display no-footer">
                <thead class="filter-head">
                    <tr>
                      <th><label class="list-column-label">Form Name <i class="sort fa"></i></label></th>
                      <th><label class="list-column-label">Description </label></th>
                      <th><label class="list-column-label">Last Saved By <i class="sort fa"></i></label></th>
                      <th><label class="list-column-label">Date Modified <i class="sort fa"></i></label></th>
                      <th style="min-width: 100px;"><label class="list-column-label">Actions</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let form of formListData; let rowIdx = index">
                        <td>{{ form.Form_Name }}</td>
                        <td>{{ form.Description }}</td>
                        <td>{{ form.Last_Saved_By }}</td>
                        <td>{{ form.Date_Modified }}</td>
                        <td>
                          <span class="btn-action">
                            <a [routerLink]="['/form-edit', form.Form_Id]" class="badge badge-primary m-r-5">
                                <i class="md md-pencil editPVF" title="Edit" aria-hidden="true"></i>
                            </a>
                            <a class="deletePVF badge badge-danger m-r-5" [attr.data-formid]="form.Form_Id" (click)="delete(form, rowIdx)">
                                <i class="md md-delete" title="Delete" aria-hidden="true"></i>
                            </a>

                            <a [routerLink]="['/form-test']" [queryParams]="{ formId: form.Form_Id}" class="badge badge-dark">
                                <i class="md md-check" title="Test" aria-hidden="true"></i>
                            </a>
                          </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

