.elementSelected {
    background-color: #d4e8ef;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.annotationListSelected {
    background-color: #d4e8ef
}

a:not([href]):not([tabindex]) {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    /* margin: auto; */
    font-size: 0.875rem;
}

.delete {
    margin-top: 0.25rem;
    width: 10%
}

.list-group-item {
    padding: 0rem 1rem 0rem 1rem;
}

.element{
    width: 80%; 
}