<div class="col-md-12">
    <div *ngIf="currentAnnotationData && currentAnnotationData.datastring.elements && currentAnnotationData.datastring.elements.length" class="row m-b-10 pv-inner-shadow-box" id="elementList">
        <div class="col-md-12">
            <ul class="list-group">
                <li *ngFor="let i = index; let elements of currentAnnotationData.datastring.elements" class="list-group-item row">
                    <div class="row" [ngClass]="{'elementSelected':elements.elementid === currElementId}">
                        <a class="element" (click)=getElement(elements)><span *ngIf="elements.elemententity">{{elements.elemententity}}.{{elements.elementname}}</span><span *ngIf="!elements.elemententity">Virtual_{{elements.elementid}}</span></a>
                        <a class="fa fa-trash delete pull-right" (click)="deleteitem(elements, i)"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
