<div id="loginStyle">
    <div id="loginTable" class="">
        <div id="loginHeader">
            <div class="pvLogo">
                <img src="assets/img/pv-logo.png" class="loginLogo" alt="PV Intake">
            </div>

            <div class="header-lbl">
                Log in
            </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group login-pass">
                <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div id="loginFooter" class="loginFooter">
                <button [disabled]="loading" class="btn btn-primary" id="loginSubmit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
            </div>


            <div class="text-center">
                <div class="login_message"><em>This is a restricted application. Anyone gaining unauthorized access will be prosecuted.</em></div>
            </div>
        </form>
    </div>
</div>