html {
  padding: 0px;
  margin: 0px;
}


.login-container{
  max-width:600px;
}

.login-container .alert{
  margin-top:50px;
}

#loginStyle {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.25);
  width: 550px;
  margin: 140px auto;
}

#loginTable {
  width: 550px;
  height: 280px;
}

#loginHeader {
  position: relative;
  background-color: #999;
  border-radius: 8px 8px 0px 0px;
  height: 66px;
  vertical-align: top;
}

#loginHeader h3 {
  color: #eee;
  font-size: 20px;
  line-height: 70px;
}
#loginHeader .pvLogo {
  float: left;
  padding: 10px;
}
#loginHeader .pvLogo img {
  max-height: 50px;
}
#loginHeader .header-lbl {
  text-align: right;
  float: right;
  color: #eee;
  font-size: 20px;
  line-height: 70px;
  padding-right: 30px;
}

#loginLogo {
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
  height: 60px;
  width: 114px;
}

#loginLabel {
  position: absolute;
  top: 20px;
  left: 140px;
  color: #eee;
  font-size: 20px;
  font-variant: normal;
  font-weight: lighter;
}

#loginFooter {
  background-color: #e8e8e8;
  border-radius: 0 0 8px 8px;
  height: 66px;
  text-align: center;
}

#loginTable .form-group{
  padding: 25px;
}
#loginTable .form-group.login-pass{
  padding-top:0px;
  padding-bottom: 25px;
}

.form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 4px 6px;
  font-size: 14px;
}

#loginSubmit {
  background: #7aba2e url("/../assets/img/pv-btn-bg.jpg") repeat-x center bottom;
  border: 1px solid #7aba2e !important;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #cb8;
  border-radius: 2em;
  margin-top: 11px;
  width: 136px;
  line-height: 24px;
}
.login_message{
  margin:20px 0;
  font-size: 13px;
  color: #ddd;
}
