.pvgfp-shortcutTools{
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  background: #dae6ec;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.pvgfp-shortcutTools li{
  display: inline-block;
  list-style: none;
  border-right:1px solid rgba(0,0,0,0.1);
  padding: 0 5px;
  font-size: 1.5rem;
  color: #414658;
  cursor: pointer;
}

.pvgfp-shortcutTools li:hover{
  color: #000;
}

.pvgfp-shortcutTools li:last-child{
  border:0px;
}
