<div class="card">
    <div class="card-header pv-sec-heading">
        <span class="rxmain-container-header-label rx-widget-title">{{componentTitle}}</span>
        <div style="float: right" *ngIf="pageSize > 1 && !testPageResult">
            <ngb-pagination [collectionSize]="pageSize" [pageSize]="1" (pageChange)="renderImage($event, true)" aria-label="Default pagination"></ngb-pagination>
        </div>
    </div>
    <div class="card-body" *ngIf="!testPageResult">
        <div class="row">
            <div class="col-md-12">
                <form *ngIf="hideForm == false" [formGroup]="uploadForm" class="uploader" enctype="multipart/form-data" (ngSubmit)="callUploader()">
                    <div class="form-group">
                        <label>Form Name</label>
                        <input class="form-control" [(ngModel)]="formname" formControlName="formName" [readonly]="isTestPage">
                    </div>

                    <div class="form-group">
                        <label>Form Descriptions</label>
                        <input class="form-control"[(ngModel)]="formdescription" formControlName="formDescription" [readonly]="isTestPage">
                    </div>

                    <div class="form-group">
                        <label>Form Type</label>
                        <select class="form-control" [(ngModel)]="formtype" formControlName="formType">
                            <option *ngFor="let item of formTypeOptions" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Output Type</label>
                        <select class="form-control" [(ngModel)]="outputtype" formControlName="outputType" >
                            <option *ngFor="let item of outputTypeOptions" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </div>

                    <div>
                      <input id="file-upload" type="file" accept="image/*,application/pdf" (change)="onFileSelect($event)" />
                      <label for="file-upload" id="file-drag">
                        <div id="start">
                           <i class="fa fa-download" aria-hidden="true"></i>
                           <div>Select a file or drag here</div>
                           <div id="notimage" class="hidden">Please select an image</div>
                           <span id="file-upload-btn" class="btn pv-btn-dark-grey">Select a file</span>
                           <div class="filename">{{filename}}</div>
                        </div>
                      </label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-Upload-submit">Submit</button>
                </form>
                <button *ngIf="hideForm == true" id="addAnnotation" type="button" class="button hide" (click)="saveCoordinates()">Add To List</button>
            </div>
        </div>
        <div id="viewPng" class="uploader hidden" *ngIf="this.totalPage.length > 0">
            <img id="file-image" [src]="imageUrl" alt="Preview" (load)="onImageLoad()">
        </div>
        <div class="currentCoordinateHolder hide">
            <input class="cordinates" id="coordinateHolder">
        </div>
    </div>
    <div class="card-body" *ngIf="testPageResult">
        {{testResult}}
    </div>
</div>
<app-pvgfp-annotation-type-modal #annotationTypeModal></app-pvgfp-annotation-type-modal>
