<ng-template #contentKeymap let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="keymapForm" (ngSubmit)="submit($event)">

       <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><a (click)="addKey()" class="btn badge badge-success" title="Add Key"><i class="md md-plus"></i></a></th>
              <th><label>Keys </label></th>
              <th style="width: 5%;"><label>Separator </label></th>
              <th style="width: 5%;"></th>
              <th>
                <div class="row">
                  <div class="col-sm-2"><label>Entity </label></div>
                  <div class="col-sm-3"><label>Element </label></div>
                  <div class="col-sm-4"><label>Simple Value Map </label></div>
                  <div class="col-sm-2"><label>Value MapID </label></div>
                  <div class="col-sm-1"></div>
                </div>
              </th>
            </tr>
            </thead>
            <tbody formArrayName="key">
            <tr *ngFor="let item of keymapForm['controls'].key['controls']; let idx=index" [formGroupName]="idx">
              <td><a class="btn badge badge-danger" (click)="delKey(idx)" title="Delete Key"><i class="fa fa-trash"></i></a></td>
              <td><input class="form-control" type="hidden" formControlName="keysequence" value="{{idx}}"/>
                <input class="form-control" formControlName="keyverbose"/></td>
              <td><input class="form-control" formControlName="elementseparator"/></td>
              <td class="text-right"><a (click)="addElementMap(idx)" class="badge badge-dark" title="Add Element Mapping"><i class="md md-plus"></i></a></td>
              <td formArrayName="elementmapping">
                <div *ngFor="let citem of item['controls'].elementmapping['controls']; let idxx=index">
                    <div [formGroupName]="idxx" class="row table-row">
                      <div class="col-sm-2">
                        <select class="form-control" formControlName="keyentity" (change)="getElementName($event, idx, idxx)">
                          <option value="">Select</option>
                          <option *ngFor="let elementEntity of elementEntityListArray" value="{{elementEntity.id}}">{{elementEntity.text}}</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <select class="form-control" formControlName="keyelement">
                          <option value="">Select </option>
                          <option *ngFor="let elementName of getElement(citem.controls['keyentity']?.value)" value="{{elementName.id}}">{{elementName.text}}</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group">
                          <input class="form-control" formControlName="simplekeyvaluemap"/>
                          <div class="input-group-append">
                            <button type="button" class="btn btn-default dropdown-toggle last" data-toggle="dropdown">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu simplekey_dropdown dropdown-menu-right">
                              <div class="input-group" [formGroup]="skvmForm">
                                <input type="text" class="form-control" required formControlName="source"  placeholder="source">
                                <input type="text" class="form-control" required formControlName="target" placeholder="Target">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-primary last" [disabled]="!skvmForm.valid" (click)="addSourceMap(idx, idxx)">Add</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <select class="form-control" formControlName="keyvaluemapid">
                          <option value="">Select</option>
                          <option selected *ngFor="let valuemap of valueMaps" value="{{valuemap.id}}">{{valuemap.text}}</option>
                        </select>
                      </div>
                      <div class="col-sm-1">
                        <a (click)="delElementMap(idx,idxx)" title="Delete Element Mapping"><i class="md md-close"></i></a>
                      </div>
                    </div>
                  </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      <div class="modal-footer">
        <div class="margin-top w-100">
          <button [disabled]="loading" class="btn btn-primary pull-right" type="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
